/* Global Rules */
* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  user-select: none;
  -webkit-tap-highlight-color: #dddddd8a;
}
body {
  padding: 20px;
  font-family: Arial, Helvetica, sans-serif;
}
@media (max-width: 767px) {
  body {
    padding: 10px;
  }
}
/* End Global Rules */
/* Welcome */
.welcome {
  background-color: #EEE;
  border-radius: 10px;
  width: 1000px;
  max-width: 100%;
  padding: 20px;
  margin: 100px auto;
}
.welcome .title {
  text-align: center;
  background-color: #02cc96;
  width: fit-content;
  margin: 0px auto 50px;
  padding: 20px;
  border-radius: 10px;
  font-size: 30px;
  color: white;
}
.welcome .desc {
  background-color: #009c76;
  color: white;
  padding: 20px;
  border-radius: 10px;
  line-height: 2;
  font-size: 20px;
  margin-bottom: 30px;
}
.welcome .start {
  width: fit-content;
  background-color: #00d793;
  border-radius: 10px;
  padding: 10px 20px;
  margin: 0px auto;
  font-size: 20px;
  color: white;
  cursor: pointer;
  transition-duration: 0.3s;
}
.welcome .start:hover {
  background-color: #01c587;
}
@media (max-width: 767px) {
  .welcome .title {
    font-size: 20px;
  }
  .welcome .desc {
    font-size: 16px;
  }
  .welcome .start {
    font-size: 16px;
  }
  .welcome .start:hover {
    background-color: #00d793;
  }
}
/* End Welcome */